---
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
PointerAlignment: Left
ColumnLimit: 100
AlwaysBreakAfterDefinitionReturnType: All
BreakAfterReturnType: AllDefinitions
BreakBeforeBraces: Mozilla
BinPackArguments: false
BinPackParameters: true
BracedInitializerIndentWidth: 2
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
AllowShortCaseExpressionOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
IndentExternBlock: false
BraceWrapping:
  AfterExternBlock: false